@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: sans-serif;
	box-sizing: border-box;
}

.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: theme('colors.slate.400');
}

.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: theme('colors.neutral.700');
	border-radius: 5px;
	border-radius: 16px;
	margin: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: theme('colors.neutral.500');
	border-radius: 16px;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
